<app-header></app-header>

<div>
  <img appImgBroken class="imagen" src="https://avastars.githubusercontent.com/u/97020486?v=4" alt="">
  <img appImgBroken class="imagen" src="https://avatars.githubusercontent.com/u/97020486?v=4" alt="">
  <img appImgBroken class="imagen" src="https://avastars.githubusercontent.com/u/97020486?v=4" alt="">
  <img appImgBroken class="imagen" src="https://avatars.githubusercontent.com/u/97020486?v=4" alt="">
  <img appImgBroken class="imagen" src="https://avastars.githubusercontent.com/u/97020486?v=4" alt="">
  <img appImgBroken class="imagen" src="https://avatars.githubusercontent.com/u/97020486?v=4" alt="">
</div>
