<div class="card">
  <div class="title" #refId>{{idOrder}}</div>
  <ul class="body">
      <ng-container *ngFor="let item of items">

          <li *ngIf="['Precio','time','Observacion'].includes(item.key)">
              <i [ngClass]="{
                  'uil-credit-card':item.key == 'Precio',
                  'uil-clock':item.key == 'Observacion'
              }"></i>
              <span>{{item.value}}</span>
          </li>
          <li *ngIf="['author'].includes(item.key)">
            <img class="avatar-small" src={{item.value.avatar}} alt="">
            <span>{{item.value.name}}</span>
        </li>
      </ng-container>
  </ul>
</div>
