<div class="column display-flex">
  <div class="label-column display-flex ">
      <span class="circle" [style.backgroundColor]="'red'"></span>
      <span class="name">{{name}}
          <span class="number">({{data.length}})</span></span>
  </div>
  <div class="label-column display-flex ">
      <!-- <ui-btn icon="uil uil-ellipsis-h" color="transparent"></ui-btn> -->
  </div>
</div>
<div>
  <button class="btn-primary" (click)="addTask()">Agregar</button>
</div>
<div class="column">
  <app-card
   *ngFor="let card of data"
   [items]="card.item"
   [idOrder]="card.order">
</app-card>
</div>
